/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	color: #333;
	background-color: #eee;
	line-height: 1.2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ins {
	background-color: #aaffaa;
	text-decoration: none;
}
del {
	background-color: #ffaaaa;
	text-decoration: none;
}
p {
    display: block;
}
.diff-result {
	background-color: #fff;
	padding: 10px;
}

.octicon {
	display: block;
	margin: auto;
}

select:not([size]):not([multiple]) {
  height: calc(1.2rem);
}
