body {
  margin: 0 auto;
  max-width: 50em;
  display:inline-block;
  overflow: auto;
  width: 100%;
}

ins {
	background-color: lightgreen;
	text-decoration: none;
}
del {
	background-color: salmon
}
